@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$text-color: #EFDECD;

*, *::after, *::before {
   box-sizing: border-box
}

body {
   margin: 0;
   min-height: 100vh;
   font-family: 'Poppins', sans-serif;
}

/*       User Creation Styles       */

.user-creation-container {
   min-height: 100vh;
   background-color: black;
}

.title-container {
   border-bottom: 20px solid #9A7B4F;
   text-align: end;

   h1 {
      font-size: clamp(2rem, 3vw, 4rem);
      margin: 0 ;
      padding: 1.2em .5em 0;
      color: $text-color;
      line-height: 50px
   }
}

.login-container {
   background-color: lightgrey;
   max-width: clamp(21.875em, 50vw, 62.5em);
   margin: 12rem auto 0;
   text-align: center;
   padding: 1.5em 1em 2.5em 
}

.login-header {

   h2 {
      margin: 0;
      font-size: clamp(1.7rem, 2.1vw, 3.5rem);
      font-weight: 500;
   }

   p {
      font-size: clamp(.8rem, .8vw, 2.8rem);
      margin: 0;
      font-weight: 300
   }
}

.form-container {
   text-align: end;
   max-width: 80%;
   margin: 0 auto;
   margin-top: 2.7rem;

   button[type='submit'] {
      padding: .5em 1.8em;
      margin-top: 1.1rem;
      font-size: 1rem;
      letter-spacing: 1px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      border: none;
      border-radius: 20px; 
   }

   button[type='submit']:hover {
      font-weight: 600;
      background-color: grey;
      cursor: pointer
   }
}

.form-inputs-container {
   display: flex;
   flex-direction: column;
   margin: 1rem auto;
   text-align: start;

   label {
      font-size: clamp(1rem, .95vw, 3rem);
      margin-bottom: .3rem;
      font-weight: 500
   }

   input {
      padding: .8em 1em ;
      font-size: .9rem;
      letter-spacing: .5px;
      border: none;
      outline: none;
   }
}

.login-error-container {
   text-align: start;
   margin-top: 1.4rem
}

.error-message {
   color: #A40E0E;
   font-size: 1.2rem;
   font-weight: 600;
   margin: 0;
}

.signup-cta {
   color: $text-color;
   text-align: center;
   margin: .5em 0 0;
   cursor: pointer;
   font-size: clamp(.8rem, .9vw, 2rem)
}

@media screen and (max-width: 31.25em) {

   .title-container {
      text-align: center;
      
      h1 {
         padding-top: .5em;
      }
   }

   .form-container {
      max-width: 90%
   }

   // .login-container {
   //    margin-top: 8rem;
   // }

   .form-section {
      padding-bottom: 2rem
   }
}

@media screen and (max-height: 50em) {
   .login-container {
      margin-top: 4.5rem
   }
}