@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: #FFE4C4;
}

/*       User Creation Styles       */
.user-creation-container {
  min-height: 100vh;
  background-color: black;
}

.title-container {
  border-bottom: 20px solid #9A7B4F;
  text-align: end;
}
.title-container h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  margin: 0;
  padding: 1.2em 0.5em 0;
  color: #FFE4C4;
  line-height: 50px;
}

.login-container,
.signup-container {
  background-color: lightgrey;
  max-width: clamp(21.875em, 30vw, 62.5em);
  margin: 10rem auto 0;
  text-align: center;
  padding: 1.5em 1em;
}

.login-header h2,
.signup-header h2 {
  margin: 0;
  font-size: clamp(1.7rem, 2.1vw, 3.5rem);
  font-weight: 500;
}
.login-header p,
.signup-header p {
  font-size: clamp(0.8rem, 0.8vw, 2.8rem);
  margin: 0;
  font-weight: 300;
}

.form-container {
  text-align: end;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 2.7rem;
}
.form-container button[type=submit] {
  padding: 0.5em 1.8em;
  margin-top: 1.1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 20px;
}
.form-container button[type=submit]:hover {
  font-weight: 600;
  background-color: grey;
  cursor: pointer;
}

.form-inputs-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  text-align: start;
}
.form-inputs-container label {
  font-size: clamp(1rem, 0.95vw, 3rem);
  margin-bottom: 0.3rem;
  font-weight: 500;
  padding-left: 0.5em;
}
.form-inputs-container input {
  padding: 0.6em 1em;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.login-error-container {
  text-align: start;
  margin-top: 1.4rem;
}

.error-message {
  color: #A40E0E;
  font-size: clamp(1rem, 1.1vw, 2rem);
  font-weight: 600;
  margin: 0;
}

.form-cta {
  color: #FFE4C4;
  text-align: center;
  margin: 0.5em 0 0;
  cursor: pointer;
  font-size: clamp(0.9rem, 0.9vw, 2rem);
}

/*       Dashboard Styles        */
.dash-container {
  max-width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
}

.dash-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5em 0;
}
.dash-header h1 {
  margin: 0;
  color: #FFE4C4;
}
.dash-header input[type=button] {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFE4C4;
  background-color: black;
  border: none;
  cursor: pointer;
}

.dash-main-section {
  background-color: lightgrey;
  margin-top: 7rem;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 56.25em) {
  .form-container {
    max-width: 95%;
  }
}
@media screen and (max-width: 36.25em) {
  .title-container {
    text-align: center;
  }
  .title-container h1 {
    padding-top: 0.5em;
  }
  .form-container {
    max-width: 95%;
  }
  .form-section {
    padding-bottom: 2rem;
  }
  .signup-container {
    margin-top: 3rem;
  }
  .dash-header {
    flex-direction: column;
    align-items: center;
  }
  .dash-header h1 {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-height: 50em) {
  .login-container {
    margin-top: 4.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
