@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.pointer {
  cursor: pointer;
}

/*       User Creation Styles       */
.user-creation-container {
  min-height: 100vh;
  background-color: black;
}

.title-container {
  border-bottom: 20px solid #9A7B4F;
  text-align: end;
}
.title-container h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  margin: 0;
  padding: 1.2em 0.5em 0;
  color: #FFE4C4;
  line-height: 50px;
}

.login-container,
.signup-container {
  background-color: lightgrey;
  max-width: clamp(21.875em, 30vw, 62.5em);
  margin: 10rem auto 0;
  text-align: center;
  padding: 1.5em 1em;
}

.login-header h2,
.signup-header h2 {
  margin: 0;
  font-size: clamp(1.7rem, 2.1vw, 3.5rem);
  font-weight: 500;
}
.login-header p,
.signup-header p {
  font-size: clamp(0.8rem, 0.8vw, 2.8rem);
  margin: 0;
  font-weight: 300;
}

.form-container {
  text-align: end;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 2.7rem;
}
.form-container button[type=submit] {
  padding: 0.5em 1.8em;
  margin-top: 1.1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 20px;
}
.form-container button[type=submit]:hover {
  font-weight: 600;
  background-color: grey;
  cursor: pointer;
}

.form-inputs-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  text-align: start;
}
.form-inputs-container label {
  font-size: clamp(1rem, 0.95vw, 3rem);
  margin-bottom: 0.3rem;
  font-weight: 500;
  padding-left: 0.5em;
}
.form-inputs-container input {
  padding: 0.6em 1em;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.login-error-container {
  text-align: start;
  margin-top: 1.4rem;
}

.error-message {
  color: #A40E0E;
  font-size: clamp(1rem, 1.1vw, 2rem);
  font-weight: 600;
  margin: 0;
}

.form-cta {
  color: #FFE4C4;
  text-align: center;
  margin: 0.5em 0 0;
  cursor: pointer;
  font-size: clamp(0.9rem, 0.9vw, 2rem);
}

/*       Dashboard Styles        */
.dashboard-container {
  max-width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5em 0;
}

.logout-btn {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFE4C4;
  background-color: black;
  border: none;
  cursor: pointer;
}

.dashboard-title {
  margin: 0;
  color: #FFE4C4;
}

.dashboard-content {
  margin-top: 2rem;
}

.dashboard-user-stats {
  display: flex;
}
.dashboard-user-stats div {
  min-width: 50%;
}
.dashboard-user-stats h3 {
  color: #FFE4C4;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 600;
  margin: 0;
}

.budget-form input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: lightgrey;
}
.budget-form button {
  margin-left: 2rem;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.under-budget {
  color: rgb(14, 236, 14);
}

.over-budget {
  color: red;
}

.dash-pay-chart {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  padding: 1.5em 0;
}

.dash-add-payment {
  min-width: 40%;
  padding: 1em;
  border: 2px solid black;
}

.dash-pay-title {
  font-size: clamp(1.9rem, 2.5vw, 3rem);
  margin-top: 0;
}

.payment-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.payment-form label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
.payment-form select, .payment-form input {
  padding: 0.8em 0.5em;
  font-size: 1rem;
}
.payment-form select {
  cursor: pointer;
}
.payment-form button {
  min-width: 100%;
  padding: 1em 0.5em;
  margin-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.dash-past-payments {
  margin-top: 1rem;
}

.past-payment-titles {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}
.past-payment-titles h3 {
  margin: 0.2rem 0;
  min-width: 8%;
  font-size: clamp(1rem, 1vw, 3rem);
}

.payment-list {
  margin-top: 0.2rem;
}

.past-payments-cell {
  display: flex;
  justify-content: space-between;
  padding: 0.9em 0;
  background-color: lightgrey;
}
.past-payments-cell span {
  min-width: 6vw;
  font-size: clamp(0.8rem, 0.9vw, 2rem);
}

.cta-past-payments {
  color: white;
  text-align: end;
  cursor: pointer;
}

.cta-past-payments:hover {
  color: #FFE4C4;
}

.full-payment-container {
  max-width: 80vw;
  margin: 0 auto;
}

/*          Media Queries           */
@media screen and (max-width: 56.25em) {
  .form-container {
    max-width: 95%;
  }
}
@media screen and (max-width: 36.25em) {
  .title-container {
    text-align: center;
  }
  .title-container h1 {
    padding-top: 0.5em;
  }
  .form-container {
    max-width: 95%;
  }
  .form-section {
    padding-bottom: 2rem;
  }
  .signup-container {
    margin-top: 3rem;
  }
  .dashboard-header {
    flex-direction: column;
    align-items: center;
  }
  .dashboard-header h1 {
    margin-bottom: 0.5rem;
  }
  .dashboard-content {
    margin: 2rem 0;
  }
  .dash-pay-chart {
    flex-direction: column;
    align-items: center;
  }
  .dash-add-payment {
    text-align: center;
    border: unset;
    border-top: 2px solid black;
    min-width: 90%;
  }
  .dashboard-user-stats {
    text-align: center;
  }
  .past-payment-titles {
    padding: 0 0.3rem;
  }
  .past-payments-cell {
    padding: 0.7rem 0.3rem;
  }
}
@media screen and (max-height: 50em) {
  .login-container {
    margin-top: 4.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
