@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$fc-main: #FFE4C4;
$dd: 'Poppins', sans-serif;

*, *::after, *::before {
   box-sizing: border-box
}

body {
   margin: 0;
   min-height: 100vh;
   font-family: $dd;
   background-color: black;
}

.pointer {
   cursor: pointer
}

/*       User Creation Styles       */

.user-creation-container {
   min-height: 100vh;
   background-color: black;
}

.title-container {
   border-bottom: 20px solid #9A7B4F;
   text-align: end;

   h1 {
      font-size: clamp(2rem, 3vw, 4rem);
      margin: 0 ;
      padding: 1.2em .5em 0;
      color: $fc-main;
      line-height: 50px
   }
}

.login-container,
.signup-container {
   background-color: lightgrey;
   max-width: clamp(21.875em, 30vw, 62.5em);
   margin: 10rem auto 0;
   text-align: center;
   padding: 1.5em 1em 
}

.login-header,
.signup-header {

   h2 {
      margin: 0;
      font-size: clamp(1.7rem, 2.1vw, 3.5rem);
      font-weight: 500;
   }

   p {
      font-size: clamp(.8rem, .8vw, 2.8rem);
      margin: 0;
      font-weight: 300
   }
}

.form-container {
   text-align: end;
   max-width: 85%;
   margin: 0 auto;
   margin-top: 2.7rem;

   button[type='submit'] {
      padding: .5em 1.8em;
      margin-top: 1.1rem;
      font-size: 1rem;
      letter-spacing: 1px;
      font-family: $dd;
      font-weight: 400;
      border: none;
      border-radius: 20px; 
   }

   button[type='submit']:hover {
      font-weight: 600;
      background-color: grey;
      cursor: pointer
   }
}

.form-inputs-container {
   display: flex;
   flex-direction: column;
   margin: 1rem auto;
   text-align: start;

   label {
      font-size: clamp(1rem, .95vw, 3rem);
      margin-bottom: .3rem;
      font-weight: 500;
      padding-left: .5em
   }

   input {
      padding: .6em 1em ;
      font-size: .9rem;
      letter-spacing: .5px;
      border: none;
      outline: none;
      border-radius: 20px;
      font-family: $dd;
   }
}

.login-error-container {
   text-align: start;
   margin-top: 1.4rem
}

.error-message {
   color: #A40E0E;
   font-size: clamp(1rem, 1.1vw, 2rem);
   font-weight: 600;
   margin: 0;
}

.form-cta {
   color: $fc-main;
   text-align: center;
   margin: .5em 0 0;
   cursor: pointer;
   font-size: clamp(.9rem, .9vw, 2rem);
}

/*       Dashboard Styles        */
.dashboard-container {
   max-width: 90vw;
   min-height: 100vh;
   margin: 0 auto
}

.dashboard-header {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding: .5em 0;
}

.logout-btn {
   padding: 0;
   font-size: 1.5rem;
   font-weight: 600;
   color: $fc-main;
   background-color: black;
   border: none;
   cursor: pointer
}

.dashboard-title {
   margin: 0;
   color: $fc-main
}

.dashboard-content {
   margin-top: 2rem;
}

.dashboard-user-stats {
   display: flex;

   div {
      min-width: 50%
   }

   h3 {
      color: $fc-main;
      font-size: clamp(1.5rem, 2vw ,3rem);
      font-weight: 600;
      margin: 0;
   }
}

.budget-form {
   input {
      font-size: 1rem;
      padding: .5rem 1rem;
      outline: none;
      background-color: lightgrey;
   }

   button {
      margin-left: 2rem;
      border: none;
      outline: none;
      color: white;
      background-color: black;
      font-size: 1.5rem;
      cursor: pointer;
   }
}

.under-budget {
   color: rgb(14, 236, 14)
}

.over-budget {
   color: red
}

.dash-pay-chart {
   background-color: lightgrey;
   display: flex;
   justify-content: space-around;
   padding: 1.5em 0;
}

.dash-add-payment {
   min-width: 40%;
   padding: 1em;
   border: 2px solid black
}

.dash-pay-title {
   font-size: clamp(1.9rem, 2.5vw, 3rem);
   margin-top: 0;
}

.payment-form{

   div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem
   }

   label {
      font-size: 1.2rem;
      margin-bottom: .3rem
   }

   select, input {
      padding: .8em .5em;
      font-size: 1rem
   }

   select {
      cursor: pointer
   }

   button {
      min-width: 100%;
      padding: 1em .5em;
      margin-top: 1.5rem;
      font-size: 1rem;
      cursor: pointer
   }
}

.dash-past-payments {
   margin-top: 1rem
}

.past-payment-titles {
   display: flex;
   justify-content: space-between;
   background-color: lightgrey;

   h3 {
      margin: .2rem 0;
      min-width: 8%;
      font-size: clamp(1rem, 1vw, 3rem)
   }
}

.payment-list {
   margin-top: .2rem
}

.past-payments-cell {
   display: flex;
   justify-content: space-between;
   padding: .8em 1em;
   background-color: lightgrey;
   
   span {
      min-width: 6vw;
      font-size: clamp(.8rem, .9vw, 2rem)
   }

   img { 
      min-width: 1vw;
      padding-right: 4em
   }
}

.cta-past-payments {
   color: white;
   text-align: end;
   cursor: pointer
}

.cta-past-payments:hover {
   color: $fc-main
}


.full-payment-container {
   max-width: 80vw;
   margin: 0 auto
}


/*          Media Queries           */

@media screen and (max-width: 56.25em) { // 900 pixels
   .form-container {
      max-width: 95%
   }
   
}

@media screen and (max-width: 36.25em) {  // 500 pixels

   .title-container {
      text-align: center;
      
      h1 {
         padding-top: .5em;
      }
   }

   .form-container {
      max-width: 95%
   }

   .form-section {
      padding-bottom: 2rem
   }

   .signup-container {
      margin-top: 3rem
   }

   .dashboard-header {
      flex-direction: column;
      align-items: center;

      h1 {
         margin-bottom: .5rem
      }
   }

   .dashboard-content {
      margin: 2rem 0;
   }

   .dash-pay-chart {
      flex-direction: column;
      align-items: center;
   }

   .dash-add-payment {
      text-align: center;
      border: unset;
      border-top: 2px solid black;
      min-width: 90%
   }

   .dashboard-user-stats {
      text-align: center
   }

   .past-payment-titles {
      padding: 0 .3rem
   }

   .past-payments-cell {
      padding: .7rem .3rem;
   }
}

@media screen and (max-height: 50em) {
   .login-container {
      margin-top: 4.5rem
   }
}